<div>
  <h2>Lista de Recetas</h2>
  <button [routerLink]="['/pages/recetas/create']" class="btn btn-primary">
    Nueva Receta
  </button>

  <div *ngIf="(loading$ | async)">Cargando...</div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Código</th>
        <th>Fecha</th>
        <th>Seguro</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of (recetas$ | async)">
        <td>{{ r.idReceta }}</td>
        <td>{{ r.codigoReceta }}</td>
        <td>{{ r.fecha }}</td>
        <td>{{ r.aprobadoSeguro ? 'Aprobado' : 'No Aprobado' }}</td>
        <td>
          <button class="btn btn-info btn-sm" (click)="goEdit(r.idReceta!)">Editar</button>
          <button class="btn btn-danger btn-sm" (click)="onDelete(r.idReceta!)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


